*.idea/
*cmake-build-debug/
*cmake-build-release/
*cmake*
*__pycache__*
*.pyc
*.tfrecord
data/
UNetNormalGen/logs
BlenderProc/BlenderProc
BlenderProc/output_dir
UNetNormalGen/model
SingleViewReconstruction/model
SingleViewReconstruction/logs

